name: dependabot
on: pull_request_target

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    if: |
      github.actor == 'dependabot[bot]' &&
      contains(github.event.pull_request.title, 'build(deps): bump react-native from ')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Configure Git user
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Upgrade react-native
        run: |
          VERSION=$(jq -r '.dependencies."react-native"' package.json)
          yarn react-native upgrade $VERSION
          cd ios && pod update hermes-engine --no-repo-update && cd -
          git commit -am "build: upgrade react-native to $VERSION"
          git push
